<div>
  <button (click) = "changeView()">
    Change View
  </button>

  <div *ngIf = "display; else view2">
    <h1>View 1</h1>
  </div>

  <ng-template #view2>
    <h2>View 2</h2>
  </ng-template>

  <hr>

  <h3>Product List</h3>

  <div style="display: flex; flex-direction: row;">

    <div *ngFor="let p of product_ngFor; index as i; "
      style="width: 100%; background-color: #FFF; border-radius: 5px; width: 200px; margin-right: 20px; padding: 10px;" >

      <p>
        Sản phẩm thứ {{i + 1}}
      </p>

      <p>
        {{p.productName}}
      </p>

      <img src="{{p.productImage}}" alt="" style="width: 150px">

      <p>
        {{p.productPrice}}  VND
      </p>

    </div>

  </div>

  <hr>

  <div>
    Data from App-Component:
    <!-- {{parentData}} -->

    {{data}}
  </div>


</div>
