
<style>
    .headerContainer {
        background: #FFF;

        display: flex;
        justify-content: space-around;
    }
    .avatarContainer {
        background: #FF6E35;
        padding: 2px;
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }
    .avaImage{
        width: 100%;
        border-radius: 100%;
        object-fit: contain;
    }
    .headerleft__name {
        font-size: 16px;
    }
</style>

<div class="headerContainer">
    <div>
        <span class="headerleft__name">
            Xin chào Song Ngan
        </span>
        <img src="../../assets/headerWave.svg" alt="">
    </div>

    
    <div class="avatarContainer">
        <img
            class="avaImage"
            src="../../assets/user.jpg" alt="">
    </div>
</div>