<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <title>Lesson 1</title>
  <style>
    html, body{
      margin: none;
      padding: none;
      margin: 0;

    }
    .container {
      display: flex;
      height: 100vh;
    }
  </style>
</head>
<body>
  <div class="container">

    <app-sidebar style="width: 20%; background-color: rgb(152, 152, 212);">

    </app-sidebar>


    <div style="width: 80%">
      <h1>App Component</h1>

      <div style="background-color: bisque;">
        <h2>Routing - Dashboard - thầy Thanh</h2>

        <a routerLink="/routing-dashboard" routerLinkActive="active">Routing to Dashboard</a>
        <!-- <app-routing-dashboard></app-routing-dashboard> -->

        <h2>2 Vòng lặp lồng nhau - List catalog - thầy Thanh</h2>
        <app-list-catalog></app-list-catalog>


      </div>




      <div style="width: 100%; background: #c5c5c5;">

        <!-- dữ liệu của processData được binding vào parentData -->
        <app-content [parentData] = "processData">

        </app-content>
      </div>


      <div style="width: 100%; background-color: aquamarine;">
        <app-form [parentData] = "inputdatafromForm" (childEvent) = "dataFromChild=$event"></app-form>


        <div *ngIf="dataFromChild">
          <p>Data from Child-Component form:
            {{ dataFromChild | json }}
          </p>
        </div>

      </div>


      <div style="width: 100%; background-color: rgb(224, 152, 152);">
        <h2>Department List & Detail</h2>

        <app-departmentlist></app-departmentlist>

        <app-departmentdetail></app-departmentdetail>

      </div>



    </div>

  </div>

</body>
</html>
