<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  

  <title>Lesson 1</title>
  <style>
    html, body{
      margin: none;
      padding: none;
      margin: 0;

    }
    .container {
      display: flex;
      height: 100vh;
    }
  </style>
</head>
<body>
  <div class="container">
    <!-- <app-sidebar>

    </app-sidebar> -->

    <div app-sidebar> 

    </div>

    <div>
      <app-header>
  
      </app-header>
  
      <app-content>
  
      </app-content>

    </div>

  </div>
  
</body>
</html>