<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">



  <title>Lesson 1</title>
  <style>
    html, body{
      margin: none;
      padding: none;
      margin: 0;

    }
    .container {
      color: #000;
      display: flex;
    }
  </style>
</head>
<body>

  <div class="container">

    <div style="width: 50%;">
      <h2>Câu 3 - My Component done</h2>
      <app-my-component></app-my-component>

      <h2>Câu 4 - Binding Property done</h2>
      <app-binding-property></app-binding-property>

      <h2>Câu 5 - Binding Class done</h2>
      <!-- <app-binding-class></app-binding-class> -->
      <div app-binding-class></div>
    </div>

    <div>


      <h2>Câu 6 - Binding Style</h2>
      <app-binding-style></app-binding-style>

      <h2>Câu 7 - Binding Event done</h2>
      <div app-binding-event></div>

      <h2>Câu 8 - Binding 2 Ways</h2>
      <app-binding2way></app-binding2way>

      <h2>Câu 9 - Phương trình bậc 2</h2>
      <app-ptbh></app-ptbh>

    </div>


  </div>

</body>
</html>
