

<style>

    .sidebarContainer{
        background: #363740;
        color: #FFFFFF;
        height: 100%;
    }
    .sidebar__icon {
        /* width: 50px;
        color: white; */
    }
    ul {
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
    }
    li {
        list-style: none;
        padding: 10px ;
        display: flex;
        align-items: center;
    }


    li:hover {
        background: #989BB759;
    }
</style>


<div class="sidebarContainer">
    <ul>
        <li>
          View 1
        </li>

        <li>View 2</li>

        <li>View 3</li>
    </ul>

</div>
