

<style>
    
    .sidebarContainer{
        background: #363740;
        color: #FFFFFF;
        height: 100%;
    }
    .sidebar__icon {
        /* width: 50px;
        color: white; */
    }
    ul {
        margin-block-start: 0;
        margin-block-end: 0;
        padding-inline-start: 0;
    }
    li {
        list-style: none;
        padding: 10px ;
        display: flex;
        align-items: center;
    }


    li:hover {
        background: #989BB759;
    }
</style>


<div class="sidebarContainer">
    <ul>
        <li>
            <img 
            class="sidebar__icon"
            src="/src/assets/sidebar_account.svg" alt="">
            <span>
                Quản lý tài khoản
            </span>
        </li>
        <li>Thông báo</li>
        <li>Phòng ban</li>
    </ul>

</div>